@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    padding-top: 0;
    width: 100vw;
    min-height: 100dvh;
    font-family: Roboto, Arial;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color: rgb(207, 207, 207);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, button {
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

button {
    cursor: pointer;
}

/* Default modal styling */
dialog {
    background-color: #1f1f1f;
    border: none;
    border-radius: 10px;
    color: rgb(207, 207, 207);
    padding: 10px 0 10px 0;
    min-width: 400px;
    max-width: 400px;
}

.seperator {
    height: 1px;
    background-color: rgb(207, 207, 207);
    margin-top: 10px;
    margin-bottom: 10px;
}

dialog button {
    padding: 5px;
    border-radius: 5px;
}

textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    field-sizing: content;
    margin-bottom: 20px;
}

textarea:focus {
    border: none;
    outline: none;
}

.submit {
    background-color: green;
}

.cancel {
    background-color: red;
}

/* Header styling */
header {
    background-color: #1f1f1f;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: end;
}

header > h1 {
    font-size: 25px;
    justify-self: start;
}

.header-btns {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 25px;
}

.header-btns > button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.header-btns > button:hover {
    background-color: #121212;
}

/* To-do container styling */
.todo-container {
    margin: 0 10px 10px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    overflow: scroll;
    flex: 1;
}

.todo-container::-webkit-scrollbar {
    display: none;
}

/* Project card styling */
.prj-card {
    background-color: #1f1f1f;
    padding: 0 25px 25px 25px;
    border-radius: 10px;
    min-width: 400px;
    height: fit-content;
    max-height: calc(100vh - 125px); /* Adjust based on header and margins */
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Enable vertical scrolling */
}

.prj-card::-webkit-scrollbar {
    display: none;
}

.prj-card > h1 {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    background-color: #1f1f1f;
}

/* Task card styling */
.task-card {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prj-card > .task-card:nth-child(even) {
    background-color: #121212;
}

.prj-card > .task-card:nth-child(odd) {
    background-color: #1f1f1f;
}

/* Add task modal styling */
.task-info, .task-submit {
    padding: 0 10px 0 10px;
}

.task-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

